.chats-main
  - @chats.each do |chat|
    = link_to chat, class: 'chat' do
      .from
        %p From
        %p
          =chat.user.email
      .last-message
        %p Last Message
        %p
          =chat.messages.last.content
      .status
        - if chat.status
          %i.fas.fa-check(style="color: green")
        - else
          %i.fas.fa-times(style="color: red")